# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [94]:
# import numpy and pandas

import numpy as np
import pandas as pd

from statsmodels.stats.weightstats import ztest as ztest
import scipy.stats as stats
from statsmodels.stats.proportion import proportions_ztest

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:

salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
# Your code here:

salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [7]:
# Your code here:

salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [17]:
# Your code here:

salaries['Name'].groupby(salaries['Department']).count()

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [6]:
# Your code here:

# t-test, one sample, alpha = 0.05

# H0: hourly wage of all hourly workers is $30/hr H0 = 30
# H1: hourly wage of all hourly workers is significantly different from $30/hr

In [19]:
salaries['Hourly Rate'].describe()

count    8022.000000
mean       32.788558
std        12.112573
min         2.650000
25%        21.200000
50%        35.600000
75%        40.200000
max       109.000000
Name: Hourly Rate, dtype: float64

In [28]:
hourly_workers = salaries.loc[salaries['Salary or Hourly'] == 'Hourly']

In [29]:
data = hourly_workers['Hourly Rate']

In [30]:
# perform one sample t-test

t_statistic, p_value = stats.ttest_1samp(a=data, popmean=30)
print(t_statistic , p_value)

20.6198057854942 4.3230240486229894e-92

In [65]:
p_value < alpha

True

In [ ]:
# As the p_value for the given problem is less than 0.05 which is the alpha value, 
# we reject the null hypothesis and the alternative hypothesis is accepted.
# Hourly wage of all hourly workers is significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [36]:
# Your code here:

police_force = salaries.loc[salaries['Department'] == 'POLICE']
police_force_salary = police_force.loc[police_force['Salary or Hourly'] == 'Salary']

In [ ]:
# H0: salaries this year are higher than last year's mean of $86000/year. H0 > 86000
# H1: salaries are not higher. H0 <= 86000

In [37]:
pop_mean = 86000
alpha = 0.05

In [38]:
data_p = police_force_salary['Annual Salary']

In [39]:
t_statistic, p_value = stats.ttest_1samp(a=data_p, popmean=pop_mean)
print(t_statistic , p_value)

3.081997005712994 0.0020603403550965137

In [64]:
p_value < alpha

True

In [ ]:
# As the p_value for the given problem is less than 0.05 which is the alpha value, 
# we reject the null hypothesis and the alternative hypothesis is accepted.
# Police salaries are not higher than last year.

Using the `crosstab` function, find the department that has the most hourly workers.

In [49]:
# Your code here:

#pd.crosstab(salaries['Department'], salaries.groupby(salaries['Department']).count(), normalize='index')

hourly_workers = salaries.loc[salaries['Salary or Hourly'] == 'Hourly']
hourly_workers['Name'].groupby(hourly_workers['Department']).count()

Department
ANIMAL CONTRL              19
AVIATION                 1082
BUDGET & MGMT               2
BUSINESS AFFAIRS            7
CITY COUNCIL               64
COMMUNITY DEVELOPMENT       4
CULTURAL AFFAIRS            7
FAMILY & SUPPORT          287
FINANCE                    44
FIRE                        2
GENERAL SERVICES          765
HEALTH                      3
HUMAN RESOURCES             4
LAW                        40
MAYOR'S OFFICE              8
OEMC                     1273
POLICE                     10
PROCUREMENT                 2
PUBLIC LIBRARY            299
STREETS & SAN            1862
TRANSPORTN                725
WATER MGMNT              1513
Name: Name, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [59]:
# Your code here:

# one sample
# t-test

# H0: hourly wage is 35
# H1: hourly wage is not 35

alpha = 0.05
wage_mean = 35

In [60]:
hourly_workers = salaries.loc[salaries['Salary or Hourly'] == 'Hourly']
hourly_ss = hourly_workers.loc[hourly_workers['Department'] == 'STREETS & SAN']

In [61]:
data_ss = hourly_ss['Hourly Rate']

In [62]:
t_statistic, p_value = stats.ttest_1samp(a=data_ss, popmean=wage_mean)
print(t_statistic , p_value)

-9.567447887848152 3.3378530564707717e-21

In [63]:
p_value < alpha

True

In [ ]:
# As the p_value for the given problem is less than 0.05 which is the alpha value, 
# we reject the null hypothesis and the alternative hypothesis is accepted.
# hourly wage is not 35

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [80]:
# Your code here:

# mean hourly wage of all hourly workers

hourly_workers = salaries.loc[salaries['Salary or Hourly'] == 'Hourly']

workers_mean = hourly_workers['Hourly Rate'].mean()
workers_mean

32.78855771628128

In [77]:
confidence = 0.95
alpha = 0.05

z_score = 1.65

d_freedom = -1

In [74]:
sample_std = hourly_workers['Hourly Rate'].std()
sample_std

12.11257268427681

In [72]:
st_error = stats.sem(hourly_workers['Hourly Rate'], axis=None, ddof=d_freedom)
st_error

0.13521999931389467

In [79]:
# Your code here:

interval_min = sample_mean - z_score * st_error
interval_max = sample_mean + z_score * st_error

interval_min, interval_max

(32.56544471741336, 33.01167071514921)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [86]:
salary_workers = salaries.loc[salaries['Salary or Hourly'] == 'Salary']
salary_police = salary_workers.loc[salary_workers['Department'] == 'POLICE']

police_mean = salary_police['Annual Salary'].mean()
police_mean

86486.41450313339

In [87]:
police_std = salary_police['Annual Salary'].std()
police_std

18272.228293992157

In [90]:
police_error = stats.sem(salary_police['Annual Salary'], axis=None, ddof=d_freedom)
police_error

157.8126827599245

In [91]:
interval_min = police_mean - z_score * police_error
interval_max = police_mean + z_score * police_error

interval_min, interval_max

(86226.02357657951, 86746.80542968727)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [99]:
# Your code here:

# determine whether the number of hourly workers in the City of Chicago is significantly different from 25%

alpha = 0.05

In [100]:
# H0: p = p0 (population proportion is equal to hypothesized proportion p0)
# H1 (two-tailed): p ≠ p0 (population proportion is not equal to some hypothesized value p0)

In [101]:
p0 = 0.25
x = 8022 # hourly workers
n = 33183 # all employees

In [102]:
hourly_workers = salaries.loc[salaries['Salary or Hourly'] == 'Hourly']
hourly_workers['Name'].count()

8022

In [103]:
salaries['Name'].count()

33183

In [108]:
proportions_ztest(count=8022, nobs=33183, value=0.25)

(-3.5099964213703005, 0.0004481127249057967)

In [ ]:
# p-value is less than alpha -> reject H0